.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-table {
  min-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.App-table th {
  height: 25px;
}

.App-center {
  display: inline-block;
}

.App-building {
  padding: 5px;
}

.App-selected {
  background-color: blue;
}

p.App-priceTag {
  margin-top: 0px;
  font-size: 10px;
}
